@import url("https://fonts.googleapis.com/css?family=Francois+One&display=swap");

body {
  background: #0e0f0fed;
  font-family: "Francois One", sans-serif;
}

#parentDiv {
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mainContent {
  box-sizing: border-box;
  width: 66%;
  padding: 20px 200px 50px 200px;
  background-color: white;
  color: black;

}

#counter {
  box-sizing: border-box;
  height: 7px;
  width: 700px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#firstNameLast {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #61dafb;
}

#bornIn {
  margin-top: 20px;
  font-size: 15px;
  /* font-weight: bold; */
}

#favMovies {
  margin-top: 25px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: 10px;
}

.middle-buttons {
  display: flex;
}

.buttons {
  color: white;
  background: #61dafb;
  font-size: 20px;
  border-radius: 7px;
  margin: 5px;
}

.nextPrev {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 20px;
  background-color: transparent;
  border-color: transparent;
}

#headerHome {
  display: flex;
  background-color: #61dafb;
  width: 100%;
  height: 10vh;
  font-size: 15px;
}

#headerHome > h1 {
  color: black;
  margin-left: 25px;
}


